.container
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  border-left-width .5rem
  border-left-style solid
  &.green
    background-color #00ff99 
    border-color darken(#00ff99, 35%)

  &.purple
    background-color #9999ff 
    border-color darken(#9999ff, 35%)

  &.danger
    background-color #ccff66
    border-color darken(#ccff66, 20%)`