@require './config';
@require './nprogress';
@require './code';
@require './custom-blocks';
@require './arrow';
@require './wrapper';
@require './toc';

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  // -webkit-font-smoothing antialiased
  // -moz-osx-font-smoothing grayscale
  font-size: 16px;
  color: $textColor;
}

.page {
  padding-left: $sidebarWidth;
}

.navbar {
  height: $navbarHeight;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}

.sidebar-mask {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.sidebar {
  font-size: 15px;
  background-color: #fff;
  width: $sidebarWidth;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: $navbarHeight;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border-right: 1px solid $borderColor;
  overflow-y: auto;
}

.content:not(.custom) {
  @extend $wrapper;

  > *:first-child {
    margin-top: 10.6rem;
  }

  a:hover {
    text-decoration: underline;
  }

  p.demo {
    padding: 1rem 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  img {
    max-width: 740px;
  }
}

.content.custom {
  padding: 0;
  margin: 0;

  img {
    max-width: 740px;
  }
}

a {
  font-weight: 500;
  color: $accentColor;
  text-decoration: none;
}

p a code {
  font-weight: 400;
  color: $accentColor;
}