$wrapper {
  max-width: $contentWidth;
  margin: 30px;
  padding: 0rem;
}

body, header.navbar, .navbar span {
//   background: #F8F4E7; // dknuth-y brown lol
    background: white;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .blog, img, iframe {
    width: 300px;
    word-wrap: break-word;
  }
}
