body {
  background: black;
}

.application-wrapper, .blog-post-wrapper {
	max-width: 600px;
	margin: 0px auto;
  background: black;
  color: #fcfcfc;
}

img, iframe {
	max-width: 100%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.post-description {
	border-color: #52E052;
  background: #3700ff;
  border: 2px solid #3700ff;
  font-style: italic;
	overflow: auto;
	padding: .5em;
	page-break-inside: avoid;
}

blockquote{
	overflow: auto;
	padding: .5em;
	page-break-inside: avoid;
  background: blue;
  font-style: italic;
}

.post-description {
	font-family: monospace;
}

nav > div:hover {
	color: #4cee93;
}

nav > div:nth-child(2) {
	padding-left: 60px;
	display: inline-block;
}

a.navbar-item:visited, a.index-link, a.index-link:visited, .taglist a, .taglist a:visited {
	color: #4cee93;
}
a.navbar-item:hover {
  color: pink;
}

.taglist ul {
	padding-inline-start: 0px;
}

.taglist li,
.navWrapper li {
	list-style: none;
	padding-bottom: 8px;
}

.taglist li a,
  .navWrapper li a {
	text-decoration: none;
}

nav > div {
	text-decoration: underline;
	display: inline-block;
}

.post-list-title {
	color: #6600FF;
  background: #3700ff;
  color: #fff;
	font-size: 1.5rem;
  padding: 5px;
}

.post-content > p > code {
	background-color: white;
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
}

pre, code {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

@media all and (max-width: 599px) and (min-width: 320px) {
	code[class*="language-"] {
		padding: 0;
		font-size: 1.0em;
	}
}

.post-content p {
	font-size: 18px;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 20pt;
}

.post-content a {
 color: #00d4ff
  
}

p.post-list-date {
  color:#bfbfc3;
}

.post-list-container {
  margin-bottom: 10px;
}

a.post-list-title:hover {
  background: #4cee93;
  color: black;
}

.green {
	background: #00fff6;
	overflow: auto;
	padding: .5em;
	page-break-inside: avoid;
}

.green p {
  color: black;
}

