.application-wrapper, .blog-post-wrapper
  max-width: 600px
  margin: 0px auto

img, iframe
  max-width: 100%
  margin-top: 0.5em
  margin-bottom: 0.5em

// cursive post-description lol
.green, .post-description
  border-color: #52E052
  background: #E9FBE9
  overflow: auto
  padding: .5em
  page-break-inside: avoid
  font-family: cursive

// nav links
nav > div
  text-decoration: underline
  &:hover
    color: deeppink
  display: inline-block
nav > div:nth-child(2)
  padding-left: 60px
  display: inline-block
a.navbar-item:visited, a.index-link, a.index-link:visited, .taglist a, .taglist a:visited
  color: #60f

// tags
.taglist ul
  padding-inline-start: 0px
.taglist li,
.navWrapper li
  list-style: none
  padding-bottom: 8px
  a
    text-decoration: none

.post-list-title
  color: #6600FF
  font-size: 1.5rem

// makes code snippets not go off to right of page
.post-content > p > code
  background-color: white
  word-wrap: break-word
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
pre, code
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word
@media all and (max-width: 599px) and (min-width: 320px)
  code[class*="language-"]
    padding: 0
    font-size: 1.0em

.post-content p
  //margin-left: 3px
  font-size: 18px
  //word-wrap: break-word
  color: #0F000B
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif

// .post-content > h1, h2, h3, h4, h5, h6
//   text-decoration: underline
//   font-weight: 700
//   word-wrap: break-word
//   -moz-osx-font-smoothing: grayscale
//   -webkit-font-smoothing: antialiased
//   -webkit-osx-font-smoothing: grayscale
//   text-rendering: optimizelegibility
//   -ms-touch-action: manipulation
//   -moz-osx-font-smoothing: grayscale
//   -moz-text-rendering: optimizelegibility

//.post-description
  //font-style: oblique
  //margin: 0.5em

//.post-list-date
  //margin-bottom: 1.5em
  ///*color: #F600FF*/
  //color: #E10196
  //font-family: monospace
