/*
  iOS 13's dark mode w/ accessibility tweaks
  https://nshipster.com/dark-mode/#find-replace-fixed-colors
*/

:root {
  --background: rgb(36, 36, 36);
  --red: rgb(253, 80, 79);
  --orange: rgb(254, 164, 51);
  --yellow: rgb(254, 205, 31);
  --green: rgb(47, 216, 74);
  --cyan: rgb(97, 206, 255);
  --blue: rgb(52, 134, 255);
  --indigo: rgb(105, 94, 255);
  --purple: rgb(208, 116, 255);
  --pink: rgb(252, 74, 112);
  --gray1: rgb(158, 158, 163);
  --gray2: rgb(105, 105, 109);
  --gray3: rgb(66, 66, 68);
  --gray4: rgb(52, 52, 54);
  --gray5: rgb(41, 41, 42);
  --gray6: rgb(27, 27, 29);
}

body {
  background: var(--background);
}

.application-wrapper, .blog-post-wrapper {
	max-width: 600px;
	margin: 0px auto;
  color: #fcfcfc;
}

img, iframe {
	max-width: 100%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.post-description {
	border-color: #52E052;
  background: #3700ff;
  border: 2px solid #3700ff;
  font-style: italic;
	overflow: auto;
	padding: .5em;
	page-break-inside: avoid;
}

blockquote{
	overflow: auto;
	padding: .5em;
	page-break-inside: avoid;
  background: blue;
  font-style: italic;
}

.post-description {
	font-family: monospace;
}

/* NAV */
nav > div:hover {
	color: #4cee93;
}

nav > div:nth-child(2) {
	padding-left: 60px;
	display: inline-block;
}

a.navbar-item:visited, a.index-link, a.index-link:visited, .taglist a, .taglist a:visited {
	color: #4cee93;
}

a.navbar-item:hover {
  color: pink;
}

.navWrapper li {
	list-style: none;
	padding-bottom: 8px;
}

nav > div {
	text-decoration: underline;
	display: inline-block;
  margin: 20px 0px;
}


/* TAGS */
.taglist ul {
	padding-inline-start: 0px;
}
.taglist li{
	list-style: none;
	padding-bottom: 8px;
}
.taglist li a,
  .navWrapper li a {
	text-decoration: none;
}

.post-list-title {
	color: #6600FF;
  background: #3700ff;
  color: #fff;
	font-size: 1.5rem;
  padding: 5px;
}

.post-content p {
	font-size: 18px;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 20pt;
}

.about-page a,
.post-content a {
 color: #00d4ff
}

p.post-list-date {
  color: var(--gray1);
}

.post-list-container {
  margin-bottom: 40px;
}

a.post-list-title:hover {
  background: var(--yellow);
  color: var(--gray6);
}

.green {
	background: var(--cyan);
  color: var(--gray6);
	overflow: auto;
	padding: .5em;
	page-break-inside: avoid;
}

div.green > p {
  color: black;
}

.post-content > p > code {
	word-wrap: break-word;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
}

pre, code {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

@media all and (max-width: 599px) and (min-width: 320px) {
	code[class*="language-"] {
		padding: 0;
		font-size: 1.0em;
	}
}

