.issue, .note, .example, .advisement, blockquote {
  padding: .5em;
  border: .5em;
  border-left-style: solid;
  page-break-inside: avoid;
}
span.issue, span.note {
  padding: .1em .5em .15em;
  border-right-style: solid;
}

.issue,
.note,
.example,
.advisement,
blockquote {
  margin: 1em auto;
}
.note  > p:first-child,
.issue > p:first-child,
blockquote > :first-child {
  margin-top: 0;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/** Blockquotes ***************************************************************/

blockquote {
  border-color: rgb(170, 170, 255);
}

/** Open issue ****************************************************************/

.issue {
  border-color: #E05252;
  background: #FBE9E9;
  counter-increment: issue;
  overflow: auto;
}
.issue::before, .issue > .marker {
  color: #AE1E1E;
  padding-right: 1em;
  text-transform: uppercase;
}
/* Add .issue::before { content: "Issue " counter(issue) " "; } for autogen numbers,
or use class="marker" to mark up the issue number in source. */

/** Example *******************************************************************/

.example {
  border-color: #E0CB52;
  background: #FCFAEE;
  counter-increment: example;
  overflow: auto;
  clear: both;
}
.example::before, .example > .marker {
  text-transform: uppercase;
  color: #827017;
  min-width: 7.5em;
  display: block;
}
/* Add .example::before { content: "Example " counter(example) " "; } for autogen numbers,
or use class="marker" to mark up the example number in source. */

/** Non-normative Note ********************************************************/

.note {
  border-color: #52E052;
  background: #E9FBE9;
  overflow: auto;
}

.note::before, .note > .marker,
details.note > summary::before,
details.note > summary > .marker {
  text-transform: uppercase;
  display: block;
  color: hsl(120, 70%, 30%);
}
/* Add .note::before { content: "Note "; } for autogen label,
or use class="marker" to mark up the label in source. */

details.note > summary {
  color: hsl(120, 70%, 30%);
}
details.note[open] > summary {
  border-bottom: 1px silver solid;
}

/** Advisement Box ************************************************************/
/*  for attention-grabbing normative statements */

.advisement {
  border-color: orange;
  border-style: none solid;
  background: #FFEECC;
}
strong.advisement {
  display: block;
  text-align: center;
}
.advisement > .marker {
  color: #B35F00;
}

/** Spec Obsoletion Notice ****************************************************/
/* obnoxious obsoletion notice for older/abandoned specs. */

details {
  display: block;
}
summary {
  font-weight: bolder;
}

.annoying-warning:not(details),
details.annoying-warning:not([open]) > summary,
details.annoying-warning[open] {
  background: hsla(40,100%,50%,0.95);
  color: black;
  padding: .75em 1em;
  border: red;
  border-style: solid none;
  box-shadow: 0 2px 8px black;
  text-align: center;
}
.annoying-warning :last-child {
  margin-bottom: 0;
}

@media not print {
  details.annoying-warning[open] {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2em;
    z-index: 1000;
  }
}

details.annoying-warning:not([open]) > summary {
  text-align: center;
}

/** Entity Definition Boxes ***************************************************/

.def {
  padding: .5em 1em;
  background: #DEF;
  margin: 1.2em 0;
  border-left: 0.5em solid #8CCBF2;
}

